* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rosa-principal: #e58e97;  
    --rosa-claro: #f5c6cb;      
    --rosa-fondo: #fff5f6;      
    --blanco: #ffffff;
    --gris: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--rosa-fondo);
    color: var(--gris);
}

header {
    background-image: url("descarga.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanco);
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 70px;
    color: white;
    text-shadow: 
        -2px -2px 0 rgba(38, 37, 37, 0.362),
        2px -2px 0 rgba(38, 37, 37, 0.362),
        -2px  2px 0 rgba(38, 37, 37, 0.362),
        2px  2px 0 rgba(38, 37, 37, 0.362);
}

header p {
    font-size: 18px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

nav {
    background-color: var(--rosa-claro);
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--gris);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.presentacion {
    padding: 30px;
    text-align: center;
}

.paquetes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
}

.card {
    background-color: var(--blanco);
    border: 2px solid var(--rosa-claro);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background-color: #ffecee;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: var(--rosa-principal);
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.card a:hover {
    background-color: #d97a84;
}

footer {
    background-color: var(--rosa-principal);
    color: white;
    text-align: center;
    padding: 20px;
}

.redes a {
    display: inline-block;
    margin: 5px;
    color: white;
    text-decoration: none;
}

.redes a:hover {
    text-decoration: underline;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    color: #d97a84;
    margin: 10px 0;
}

.btn-carrito {
    background-color: #e8a0a7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-carrito:hover {
    background-color: #d97a84;
    transform: scale(1.05);
}

#carrito {
    background: #fff;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#carrito h2 {
    margin-bottom: 10px;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#btn-pagar {
    background: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
